<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mrvu.user">

<select id="getUserById" parameterType="int" resultType="mrvu.jpa.User">
<![CDATA[
	select * from user where id = #{id}
]]>
</select>
<select id="list" resultType="mrvu.jpa.User" >
<![CDATA[
	select * from user
]]>
</select>
<delete id="delete" flushCache="true">
<![CDATA[
	delete from user where id = #{id}
]]>
</delete>
<update id="update" flushCache="true">
<![CDATA[
	update user set
	password = #{password}
	is_staff = #{is_staff}
	where id = #{id}
]]>
</update>

</mapper>